<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Product Sale</title>
</head>
<body>
    <center>
        <div>
            <h1>You've searched for : <%= data.userQuery %> </h1>
            <h3>You're logged in as </h3>
            <ul>
                <li><%= data.searchResults[0] %></li>
                <li><%= data.searchResults[1] %></li>
                <li><%= data.searchResults[2] %></li>
            </ul>
        </div>
    </center>
</body>
</html>